<div class="dashboard-post">
    <div class="header"> {{post.title}} </div>
    <div class="post">
        <p class="post-content"> {{post.body}} </p>
        <p class="author">{{user.author}}</p>
    </div>
</div>